@font-face {
  font-family: 'Opensans';
  src: local("opensanslight"), local("opensanslight"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Opensans';
  src: local("opensans"), local("opensans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Opensans';
  src: local("opensanssemibold"), local("opensanssemibold"), url("../fonts/opensanssemibold.woff2") format("woff2"), url("../fonts/opensanssemibold.woff") format("woff"), url("../fonts/opensanssemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Opensans';
  src: local("opensansbold"), local("opensansbold"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  scroll-behavior: smooth; }

body {
  margin: 0; }
  body * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer; }

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none;
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

body {
  font: normal 16px/1em 'Opensans', sans-serif;
  line-height: initial;
  color: #FFFFFF;
  background-color: #232426; }

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none; }

p {
  margin: 0; }

hr {
  border: none; }

.capital {
  text-transform: uppercase; }

.yellow-text {
  color: #FAC12E; }

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto; }

.header {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10; }

.header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 14px 0;
  margin-left: auto;
  margin-right: auto; }

.header-nav__item {
  font-weight: bold;
  color: #FAC12E;
  margin-right: 35px; }
  .header-nav__item:last-child {
    margin-right: 0; }
  .header-nav__item:hover {
    color: #FFFFFF; }
  .header-nav__item.active {
    color: #FFFFFF; }

#banner-section {
  height: 100vh;
  background-image: url("../img/main-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden; }
  #banner-section .social {
    position: absolute;
    top: 30%; }

.banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.banner__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  width: 860px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 991px) {
    .banner__content {
      width: 650px; } }

.banner__item_vertical {
  position: relative;
  font-size: 94px;
  width: 128px; }
  @media (max-width: 991px) {
    .banner__item_vertical {
      font-size: 70px;
      width: 90px; } }
  .banner__item_vertical div {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: relative;
    right: 0;
    top: 215px; }
    @media (max-width: 991px) {
      .banner__item_vertical div {
        top: 163px; } }

.banner__item_horizontal {
  font-size: 48px; }
  @media (max-width: 991px) {
    .banner__item_horizontal {
      font-size: 42px; } }
  .banner__item_horizontal hr {
    width: 563px;
    height: 5px;
    background: #69adb3;
    margin: 0 0 0 5px; }
    @media (max-width: 991px) {
      .banner__item_horizontal hr {
        width: 420px; } }
  .banner__item_horizontal span {
    display: inline-block; }
    .banner__item_horizontal span.yellow-text {
      font-size: 70px; }
      @media (max-width: 991px) {
        .banner__item_horizontal span.yellow-text {
          font-size: 52px; } }
    .banner__item_horizontal span:last-child {
      font-size: 30px;
      padding: 53px 0; }
      @media (max-width: 991px) {
        .banner__item_horizontal span:last-child {
          padding: 38px 0; } }

.banner__btn {
  color: #FFFFFF;
  font-weight: bold;
  width: 173px;
  text-align: center;
  padding: 18px 0;
  margin: 150px auto 0;
  background: #FAC12E;
  border-radius: 50px;
  -webkit-box-shadow: 6px 6px 0 #FFFFFF;
          box-shadow: 6px 6px 0 #FFFFFF; }
  @media (max-width: 991px) {
    .banner__btn {
      margin: 110px auto 0; } }

.title-wrapper {
  position: relative;
  overflow: hidden; }
  .title-wrapper .title {
    font-size: 86px;
    font-weight: bold;
    color: #232426;
    position: relative; }

#work-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 150px;
  padding-bottom: 150px; }
  #work-section .title-wrapper {
    width: 85px;
    margin-right: 40px;
    background: #69ADB3; }
    #work-section .title-wrapper .title {
      top: 155px;
      right: -100%;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg);
      -webkit-transition: .6s;
      -o-transition: .6s;
      transition: .6s; }
    #work-section .title-wrapper.visible .title {
      right: -10px; }

.works-wrapper {
  width: -webkit-calc(100% - 165px);
  width: calc(100% - 165px);
  margin-left: 20px;
  margin-right: 20px; }

.works {
  display: none;
  margin: -20px; }
  .works.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.works__item {
  position: relative;
  height: 250px;
  margin: 20px;
  -webkit-box-shadow: 7px 7px 0 #CABD48;
          box-shadow: 7px 7px 0 #CABD48;
  overflow: hidden; }
  .works__item:nth-child(1) {
    width: -webkit-calc(65% - 40px);
    width: calc(65% - 40px);
    -webkit-box-shadow: 7px 7px 0 #69ADB3;
            box-shadow: 7px 7px 0 #69ADB3; }
  .works__item:nth-child(2) {
    width: -webkit-calc(35% - 40px);
    width: calc(35% - 40px);
    margin-right: 0; }
  .works__item:nth-child(3) {
    width: -webkit-calc(24% - 40px);
    width: calc(24% - 40px); }
  .works__item:nth-child(4) {
    width: -webkit-calc(24% - 40px);
    width: calc(24% - 40px); }
  .works__item:nth-child(5) {
    width: -webkit-calc(52% - 40px);
    width: calc(52% - 40px);
    margin-right: 0;
    -webkit-box-shadow: 7px 7px 0 #69ADB3;
            box-shadow: 7px 7px 0 #69ADB3; }
  .works__item img {
    width: 100%; }
  .works__item .hidden {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 53, 57, 0.8); }
    .works__item .hidden a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 28px;
      font-weight: bold;
      color: #FAC12E;
      height: 100%;
      width: 100%; }
  .works__item:hover .hidden {
    display: block; }

.works__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 50px; }
  .works__nav span {
    display: block;
    width: 13px;
    height: 13px;
    margin: 0 14px;
    border-radius: 50%;
    background: #FFFFFF; }
  .works__nav li {
    padding: 10px 0;
    cursor: pointer; }
    .works__nav li:hover span {
      -webkit-box-shadow: inset -2px -2px 0px #FAC12E;
              box-shadow: inset -2px -2px 0px #FAC12E; }
    .works__nav li.active {
      cursor: default; }
      .works__nav li.active span {
        width: 20px;
        height: 20px;
        background: #FAC12E;
        -webkit-box-shadow: none;
                box-shadow: none; }

#experience-section {
  background-image: url("../img/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  #experience-section .title-wrapper {
    height: 85px;
    background: #CABD48; }
    #experience-section .title-wrapper .title {
      top: 100%;
      right: 0;
      text-align: right;
      -webkit-transition: .6s;
      -o-transition: .6s;
      transition: .6s; }
    #experience-section .title-wrapper.visible .title {
      top: -7px; }

.experience-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 130px;
  padding-bottom: 130px; }
  @media (max-width: 991px) {
    .experience-wrapper {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }

.experience {
  width: 63%;
  margin-right: 2%; }
  @media (max-width: 991px) {
    .experience {
      width: 100%;
      margin-right: 0px; } }

.experience-title {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  color: #232426;
  padding: 15px 50px;
  background: rgba(250, 193, 46, 0.8);
  position: relative; }
  .experience-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -20px;
    width: 10px;
    height: 100%;
    background: rgba(250, 193, 46, 0.8); }

.experience-descr {
  color: #000000;
  padding: 23px 30px;
  margin-top: 40px;
  margin-left: 20px;
  background: rgba(228, 232, 240, 0.8);
  position: relative; }
  .experience-descr::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 10px;
    height: 100%;
    background: rgba(228, 232, 240, 0.8); }
  .experience-descr .descr-title {
    font-size: 22px;
    font-weight: bold;
    color: #5A8C90; }
  .experience-descr .descr-date {
    font-size: 12px;
    color: #777777;
    margin-bottom: 36px; }

.cms {
  width: 33%;
  margin-left: 2%;
  margin-top: 130px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2; }
  @media (max-width: 991px) {
    .cms {
      width: 100%;
      margin-left: 0px;
      margin-top: 70px;
      -webkit-column-count: 3;
         -moz-column-count: 3;
              column-count: 3; } }
  .cms li {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.5); }

#skills-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #skills-section .title-wrapper {
    width: 85px;
    margin-left: 60px;
    background: #FAC12E; }
    #skills-section .title-wrapper .title {
      position: relative;
      left: -100%;
      top: 33%;
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
      -webkit-transition: .6s;
      -o-transition: .6s;
      transition: .6s; }
    #skills-section .title-wrapper.visible .title {
      left: -12px; }

.skills-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-calc(100% - 145px);
  width: calc(100% - 145px);
  margin: 200px 0; }

.skill-block {
  height: 330px;
  padding: 30px 14px;
  margin-right: 2.91667%;
  background: #323539;
  border-radius: 10px; }
  .skill-block:first-child {
    width: 67.08333%; }
  .skill-block:last-child {
    width: 30%; }
  .skill-block:last-child {
    margin-right: 0; }
  .skill-block#lang .progress-bar .bar {
    background: #69ADB3; }
  .skill-block#tech .skill-list {
    width: 47%; }
    .skill-block#tech .skill-list:nth-child(2) {
      float: left;
      margin-right: 3%; }
    .skill-block#tech .skill-list:last-child {
      float: right;
      margin-left: 3%; }

.skill-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-bottom: 45px; }

.skill-list p {
  font-size: 13px;
  padding-left: 10px;
  margin-bottom: 3px; }

.skill-list li {
  margin-bottom: 20px; }
  .skill-list li:last-child {
    margin-bottom: 0; }

.progress-bar {
  position: relative;
  height: 3px;
  background: #232426;
  border-radius: 100px; }
  .progress-bar .bar {
    position: absolute;
    top: -1px;
    width: 0;
    height: 5px;
    background: #CABD48;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .progress-bar .bar::before {
      content: '';
      position: absolute;
      top: -4px;
      left: 96%;
      width: 12px;
      height: 12px;
      background: #FFFFFF;
      -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
              box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 50%; }
  .progress-bar.visible#js .bar {
    width: 50%; }
  .progress-bar.visible#react .bar {
    width: 20%; }
  .progress-bar.visible#html .bar {
    width: 90%; }
  .progress-bar.visible#css .bar {
    width: 80%; }
  .progress-bar.visible#bootstrap .bar {
    width: 70%; }
  .progress-bar.visible#gulp .bar {
    width: 75%; }
  .progress-bar.visible#pug .bar {
    width: 60%; }
  .progress-bar.visible#git .bar {
    width: 50%; }
  .progress-bar.visible#eng .bar {
    width: 30%; }
  .progress-bar.visible#germ .bar {
    width: 70%; }
  .progress-bar.visible#rus .bar {
    width: 100%; }
  .progress-bar.visible#bel .bar {
    width: 90%; }

#contact-section .title-wrapper {
  width: 60%;
  height: 85px;
  background: #69ADB3; }
  @media (max-width: 991px) {
    #contact-section .title-wrapper {
      width: 100%; } }
  #contact-section .title-wrapper .title {
    text-align: center;
    top: 100%;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s; }
  #contact-section .title-wrapper.visible .title {
    top: -7px; }

.contact-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.contact-img {
  width: 40%;
  height: 640px;
  background-image: url("../img/contact-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  @media (max-width: 991px) {
    .contact-img {
      width: 40%; } }

.contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden; }
  .contact .social {
    margin-top: 12px;
    margin-right: 37px;
    -webkit-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s; }
  .contact .contact-title {
    font-size: 36px;
    font-weight: bold; }
  .contact .contact-subtitle {
    font-size: 18px;
    color: #69ADB3; }
  .contact hr {
    width: 207px;
    height: 3px;
    margin: 14px 0 0 0;
    background: #FAC12E; }
  .contact .contact-list {
    margin-top: 30px;
    margin-bottom: 32px; }
    .contact .contact-list a {
      color: #FFFFFF; }
      .contact .contact-list a:hover {
        color: #FAC12E; }

.social {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  -o-transition: transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  -webkit-transition-delay: 2s;
       -o-transition-delay: 2s;
          transition-delay: 2s; }
  .social.visible {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .social .social__item {
    height: 40px;
    margin-bottom: 15px;
    cursor: pointer; }
    .social .social__item:last-child {
      margin-bottom: 0; }
    .social .social__item:hover {
      background: #000000; }

.cv {
  font-size: 20px;
  font-weight: bold; }
  .cv a {
    color: #FAC12E; }
    .cv a span {
      color: #FFFFFF; }
    .cv a:hover {
      color: #FFFFFF; }
      .cv a:hover span {
        color: #FAC12E; }
