doctype html
html(lang='UTF-8')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title О нас
        link(rel='apple-touch-icon' sizes='180x180' href='./apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='./favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='./favicon-16x16.png')
        link(href='./css/libs.min.css', rel='stylesheet')
        link(href='./css/style.min.css', rel='stylesheet')

    body

        include ../block/header

        #about-1.section.bg__orange
            .container
                .row
                    .lg-6.md-12.about-1__img
                        img(src='./img/about-1.png' alt='')
                    .lg-6.md-12
                        .h1 О компании
                            span О компании
                        .text
                            p ООО “Амик-О” является крупнейшим производителем и поставщиком бумажной продукции на территории Республики Беларусь. Компания создана в 1992 г. и на протяжении многих лет успешно работает на рынке упаковки. Одним из основных и приоритетных направлений компании является реализация бумажной упаковки.
                            p Независимые исследования показали, что при прочих равных условиях покупатели выбирают товары, имеющие стильную, прочную и экологичную упаковку. Именно поэтому так важно, как и во что упакована ваша продукция.

        #about-2.section
            .container
                .row
                    .lg-3.md-12.about-2__img
                        span.words пару слов
                        img(src='./img/about-2.png' alt='')
                    .lg-9.md-12
                        .text
                            .h3 Разнообразие упаковочных материалов сейчас велико. Однако роль полиэтилена, пластика и других искусственных материалов постепенно уменьшается. Тогда как бумажный пакет приобретает все большую популярность.
                            p И здесь нет ничего удивительного. Ведь благодаря применению современных технологий, бумажные пакеты не уступают пластику по прочности, сохраняя приятную фактуру и не нанося ущерб окружающей среде.
                            p Существует несколько видов бумажных пакетов, для изготовления которых применяются такие материалы, как картон, дизайнерская бумага, крафт, эфалин и плайк. Бумага позволяет наносить практически любые изображения, а последующая обработка может включать специальные пропитки, тиснение или ламинирование. Именно поэтому бумажные пакеты активно используются для презентации тех или иных товаров.
                            p Своим клиентам мы предлагаем услуги по производству и поставке бумажной упаковки с нанесением логотипа заказчика до пяти цветов, среди них бумажные салфетки, упаковочная бумага, бумажные скатерти и подложки, бумажные пакеты с прямоугольным дном и ручками, пакеты с плоским дном и комбинированных материалов.
                            p Гарантом качества наших пакетов являются инновационные технологии, сырье ведущих производителей из Европы и России. Качество предлагаемой продукции подтверждается Российскими и Европейскими сертификатами (ISEGA), социально-гигиеническим аудитом (Perseco(McDonald`s), международным аудитом (CMI, Великобритания), свидетельством о государственной регистрации (ЕВРАЗЭС).

        include ../block/footer

        script(src='./js/libs.min.js')
        script(src='./js/main.min.js')
