doctype html
html(lang='UTF-8')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Контакты
        link(rel='apple-touch-icon' sizes='180x180' href='./apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='./favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='./favicon-16x16.png')
        link(href='./css/libs.min.css', rel='stylesheet')
        link(href='./css/style.min.css', rel='stylesheet')

    body

        include ../block/header

        #contacts.section.text__section
            .container
                .row
                    .lg-12
                        .h2 Наши контакты
                            span Контакты
            .row
                .lg-6.md-12.map__container
                    iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A0a2dbd7ab82434b442172600f5fa9f71110d134a26c790c5e9ae80f5f7f927b6&amp;source=constructor' width='100%' height='100%' frameborder='0')
                .lg-6.md-12.contacts__wrapper
                    .box
                        p.title Телефон:
                        p
                            a(href='#') 8 (017) 291-06-03
                            a(href='#') 8 (017) 291-06-05
                    .box
                        p.title Факс:
                        p
                            a(href='#') 8 (017) 291-06-03
                            a(href='#') 8 (017) 291-06-05
                    .box
                        p.title Адрес:
                        p 220024, г.Минск ул. Бабушкина 54, к.205
                    .box
                        p.title E-mai:
                        p
                            a(href='#') amik@paket.by


        include ../block/footer

        script(src='./js/libs.min.js')
        script(src='./js/main.min.js')
