doctype html
html(lang='UTF-8')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Доставка и оплата
        link(rel='apple-touch-icon' sizes='180x180' href='./apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='./favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='./favicon-16x16.png')
        link(href='./css/libs.min.css', rel='stylesheet')
        link(href='./css/style.min.css', rel='stylesheet')

    body

        include ../block/header

        #delivery-1.section.bg__beige
            .container
                .row
                    .lg-12
                        .h2 Оплата и доставка товаров
                            span Оплата и доставка
                    .lg-6.md-12.order__text
                        .text
                            .h3 Как сделать заказ в интернет магазине http://amik-o.by
                            p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.
                    .lg-6.md-12.delivery__img
                        img(src='./img/image-4.png' alt='')

        #delivery-2.section
            .container
                .text
                    .h3 Оплата заказа
                    p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.
                .text
                    .h3 Способы оплаты
                    p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.


        include ../block/footer

        script(src='./js/libs.min.js')
        script(src='./js/main.min.js')
