doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Portfolio | Irina Petrushenko
        meta(name='description' content='Portfolio | Irina Petrushenko')
        link(rel='icon' type='image/png' sizes='32x32' href='./favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='./favicon-16x16.png')
        link(href='./css/style.min.css', rel='stylesheet')

    body

        include ../block/header
        include ../block/banner
        include ../block/work
        include ../block/experience
        include ../block/skills
        include ../block/contacts

        script(src='./js/main.min.js')
