doctype html
html(lang='UTF-8')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Товар
        link(rel='apple-touch-icon' sizes='180x180' href='./apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='./favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='./favicon-16x16.png')
        link(href='./css/libs.min.css', rel='stylesheet')
        link(href='./css/style.min.css', rel='stylesheet')

    body

        include ../block/header

        .section
            .container
                .row
                    .lg-12.breadcrumbs
                        a(href='#') Главная
                        a(href='#') Каталог
                        a.active(href='#') Стаканы
                    .lg-12
                        .row.product__wrapper
                            .md-12.mobile__visible.product__title Стаканчик бумажный одностойный, крафт
                            .lg-6.md-12.product__img__wrapper
                                .product__img
                                    img.img(src='./img/product-5.png' alt='')
                                    .product__tags
                                        span.sale Sale
                                        span.new New
                            .lg-6.md-12.product__desc
                                .mobile__hidden.product__title Стаканчик бумажный одностойный, крафт
                                ul.product__price
                                    li 2,55 BYN/
                                        span 1000 шт
                                    li.old__price 3,40 руб
                                ul.property__wrapper
                                    li.property__volume
                                        span.title Размер,
                                        |  мм
                                        ul.volume__tabs
                                            li 80*50*170
                                            li 260*150*340
                                            li 80*50*170
                                            li 80*50*170
                                            li 80*50*170
                                            li 80*50*170
                                    li
                                        span.title Артикул:
                                        | АР215-567
                                    li
                                        span.title Описание стакана:
                                        | Стакан гофрированный, двухслойный
                                    li
                                        span.title Размер:
                                        | d1- 80 х d2 - 56 х h - 92
                                    li
                                        span.title Материал:
                                        | PAP+1PE
                                    li
                                        span.title Плотность:
                                        | 260+18PE 120/120  г/м2;
                                .product__count
                                    span.minus
                                    input.count(type='number' value='1000')
                                    span.plus
                                ul.product__quantity
                                    li.mobile__hidden Количество в кробке:
                                        span 500 шт
                                    li Количество в упаковке:
                                        span 25 шт
                                .btn__box
                                    a#order.btn(href='#') Заказать
                                    a#add-cart.btn.btn__border(href='#') В корзину

        .section
            .container
                .h2 Сопутствующие товары
                    span Сопутствующие
                .row.products__wrapper.products__slider
                    .lg-12.products__item
                        .products__img
                            img.img(src='./img/product-4.png' alt='')
                            .product__tags
                                span.sale Sale
                                span.new New
                        .products__desc
                            a.products__title(href='#') Стаканчик бумажный однослойный,Кофе
                            ul.product__price
                                li.old__price 3,40 руб
                                li от 2,55 BYN/
                                    span 1000 шт
                        a.btn.btn_buy(href='#') Купить
                    .lg-12.products__item
                        .products__img
                            img.img(src='./img/product-2.png' alt='')
                            .product__tags
                                span.sale Sale
                        .products__desc
                            a.products__title(href='#') Стакан бумажный однослойный, белый
                            ul.product__price
                                li.old__price 3,40 руб
                                li от 2,55 BYN/
                                    span 1000 шт
                        a.btn.btn_buy(href='#') Купить
                    .lg-12.products__item
                        .products__img
                            img.img(src='./img/product-1.png' alt='')
                            .product__tags
                                span.sale Sale
                        .products__desc
                            a.products__title(href='#') Коробка бумажная для гамбургера Fiesta
                            ul.product__price
                                li.order Под заказ
                        a.btn.btn_buy(href='#') Купить
                    .lg-12.products__item
                        .products__img
                            img.img(src='./img/product-2.png' alt='')
                            .product__tags
                                span.new New
                        .products__desc
                            a.products__title(href='#') Обертка для фастфуд «Fiesta»
                            ul.product__price
                                li.old__price 3,40 руб
                                li от 2,55 BYN/
                                    span 1000 шт
                        a.btn.btn_buy(href='#') Купить

        include ../block/footer

        script(src='./js/libs.min.js')
        script(src='./js/main.min.js')
