doctype html
html(lang='UTF-8')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Результаты поиска
        link(rel='apple-touch-icon' sizes='180x180' href='./apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='./favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='./favicon-16x16.png')
        link(href='./css/libs.min.css', rel='stylesheet')
        link(href='./css/style.min.css', rel='stylesheet')

    body.category__page

        include ../block/header

        .section
            .container
                .row
                    .lg-12.breadcrumbs
                        a(href='#') Главная
                        a(href='#') Поиск-
                        a.active(href='#') Стаканы однослойные
                    .lg-12
                        .row.vertical__aling
                            .lg-9.md-12
                                .h2 Результат поиска:
                                    b  Стаканчик однослойный
                                    span Для горячего
                            .lg-3.sort__wrapper
                                | Сортировать по:
                                select
                                    option(selected) Цене
                    .lg-12
                        .row.products__wrapper
                            .lg-3.md-6.products__item
                                .products__img
                                    img.img(src='./img/product-4.png' alt='')
                                    .product__tags
                                        span.sale Sale
                                        span.new New
                                .products__desc
                                    a.products__title(href='#') Стаканчик бумажный однослойный,Кофе
                                    ul.product__price
                                        li.old__price 3,40 руб
                                        li от 2,55 BYN/
                                            span 1000 шт
                                a.btn.btn_buy(href='#') Купить
                            .lg-3.md-6.products__item
                                .products__img
                                    img.img(src='./img/product-2.png' alt='')
                                    .product__tags
                                        span.sale Sale
                                .products__desc
                                    a.products__title(href='#') Стакан бумажный однослойный, белый
                                    ul.product__price
                                        li.old__price 3,40 руб
                                        li от 2,55 BYN/
                                            span 1000 шт
                                a.btn.btn_buy(href='#') Купить
                            .lg-3.md-6.products__item
                                .products__img
                                    img.img(src='./img/product-1.png' alt='')
                                    .product__tags
                                        span.sale Sale
                                .products__desc
                                    a.products__title(href='#') Коробка бумажная для гамбургера Fiesta
                                    ul.product__price
                                        li.order Под заказ
                                a.btn.btn_buy(href='#') Купить
                            .lg-3.md-6.products__item
                                .products__img
                                    img.img(src='./img/product-2.png' alt='')
                                    .product__tags
                                        span.new New
                                .products__desc
                                    a.products__title(href='#') Обертка для фастфуд «Fiesta»
                                    ul.product__price
                                        li.old__price 3,40 руб
                                        li от 2,55 BYN/
                                            span 1000 шт
                                a.btn.btn_buy(href='#') Купить
                            .lg-3.md-6.products__item
                                .products__img
                                    img.img(src='./img/product-1.png' alt='')
                                    .product__tags
                                        span.sale Sale
                                        span.new New
                                .products__desc
                                    a.products__title(href='#') Обертка для фастфуд «Fiesta»
                                    ul.product__price
                                        li.old__price 3,40 руб
                                        li от 2,55 BYN/
                                            span 1000 шт
                                a.btn.btn_buy(href='#') Купить
                            .lg-3.md-6.products__item
                                .products__img
                                    img.img(src='./img/product-3.png' alt='')
                                    .product__tags
                                        span.sale Sale
                                        span.new New
                                .products__desc
                                    a.products__title(href='#') Обертка для фастфуд «Fiesta»
                                    ul.product__price
                                        li.old__price 3,40 руб
                                        li от 2,55 BYN/
                                            span 1000 шт
                                a.btn.btn_buy(href='#') Купить
                            .lg-3.md-6.products__item
                                .products__img
                                    img.img(src='./img/product-1.png' alt='')
                                    .product__tags
                                        span.new New
                                .products__desc
                                    a.products__title(href='#') Обертка для фастфуд «Fiesta»
                                    ul.product__price
                                        li.old__price 3,40 руб
                                        li от 2,55 BYN/
                                            span 1000 шт
                                a.btn.btn_buy(href='#') Купить
                            .lg-3.md-6.products__item
                                .products__img
                                    img.img(src='./img/product-3.png' alt='')
                                    .product__tags
                                        span.new New
                                .products__desc
                                    a.products__title(href='#') Обертка для фастфуд «Fiesta»
                                    ul.product__price
                                        li.old__price 3,40 руб
                                        li от 2,55 BYN/
                                            span 1000 шт
                                a.btn.btn_buy(href='#') Купить

        include ../block/footer

        script(src='./js/libs.min.js')
        script(src='./js/main.min.js')
