doctype html
html(lang='UTF-8')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Подкатегория
        link(rel='apple-touch-icon' sizes='180x180' href='./apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='./favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='./favicon-16x16.png')
        link(href='./css/libs.min.css', rel='stylesheet')
        link(href='./css/style.min.css', rel='stylesheet')

    body.category__page

        include ../block/header

        .section
            .container
                .row
                    .lg-12.breadcrumbs
                        a(href='#') Главная
                        a(href='#') Каталог
                        a(href='#') Бумажные стаканчики
                        a.active(href='#') Стаканы однослойные
                    .lg-12
                        .row.vertical__aling
                            .lg-9.md-12
                                .h2 Стаканы однослойные
                                    span Для горячего
                            .lg-3.sort__wrapper
                                | Сортировать по:
                                select
                                    option(selected) Цене
                                    option() Цене
                    .lg-3.md-12
                        .mobile-filter
                            .mobile-filter__item.filter-box Фильтр
                                span.filter__count 0
                            .mobile-filter__item.sort-box
                                select
                                    option(disabled selected) Сортировка
                                    option По цене
                                    option По цене
                                span.filter__count 1
                        .pop-up.filter__pop-up.overlay
                            .pop-up__body
                                .pop-up__title Фильтр
                                .close
                        .filter__wrapper
                            .filter__box
                                .title Цена/1000 шт
                                input.none(type='checkbox' id='price-1')
                                label.label(for='price-1') 100-120 BYN
                                input.none(type='checkbox' id='price-2' checked)
                                label.label(for='price-2') 120-140 BYN
                                input.none(type='checkbox' id='price-3')
                                label.label(for='price-3') 140-160 BYN
                                input.none(type='checkbox' id='price-4' checked)
                                label.label(for='price-4') 160-180 BYN
                            .filter__box
                                .title Объем
                                input.none(type='checkbox' id='volume-1')
                                label.label(for='volume-1') 30 мл
                                input.none(type='checkbox' id='volume-2' checked)
                                label.label(for='volume-2') 50 мл
                                input.none(type='checkbox' id='volume-3')
                                label.label(for='volume-3') 100 мл
                                input.none(type='checkbox' id='volume-4' checked)
                                label.label(for='volume-4') 150 мл
                            .filter__box
                                .title Характеристика
                                input.none(type='checkbox' id='property-1')
                                label.label(for='property-1') Для холодного
                                input.none(type='checkbox' id='property-2' checked)
                                label.label(for='property-2') Для горячего
                            .mobile__visible.filter__btn
                                a.btn(href='#') Отправить

                    .lg-9.md-12
                        .row.products__wrapper
                            .lg-4.md-6.products__item
                                .products__img
                                    img.img(src='./img/product-4.png' alt='')
                                    .product__tags
                                        span.sale Sale
                                        span.new New
                                .products__desc
                                    a.products__title(href='#') Стаканчик бумажный однослойный,Кофе
                                    ul.product__price
                                        li.old__price 3,40 руб
                                        li от 2,55 BYN/
                                            span 1000 шт
                                a.btn.btn_buy(href='#') Купить
                            .lg-4.md-6.products__item
                                .products__img
                                    img.img(src='./img/product-2.png' alt='')
                                    .product__tags
                                        span.sale Sale
                                .products__desc
                                    a.products__title(href='#') Стакан бумажный однослойный, белый
                                    ul.product__price
                                        li.old__price 3,40 руб
                                        li от 2,55 BYN/
                                            span 1000 шт
                                a.btn.btn_buy(href='#') Купить
                            .lg-4.md-6.products__item
                                .products__img
                                    img.img(src='./img/product-1.png' alt='')
                                    .product__tags
                                        span.sale Sale
                                .products__desc
                                    a.products__title(href='#') Коробка бумажная для гамбургера Fiesta
                                    ul.product__price
                                        li.order Под заказ
                                a.btn.btn_buy(href='#') Купить
                            .lg-4.md-6.products__item
                                .products__img
                                    img.img(src='./img/product-2.png' alt='')
                                    .product__tags
                                        span.new New
                                .products__desc
                                    a.products__title(href='#') Обертка для фастфуд «Fiesta»
                                    ul.product__price
                                        li.old__price 3,40 руб
                                        li от 2,55 BYN/
                                            span 1000 шт
                                a.btn.btn_buy(href='#') Купить
                            .lg-4.md-6.products__item
                                .products__img
                                    img.img(src='./img/product-1.png' alt='')
                                    .product__tags
                                        span.sale Sale
                                        span.new New
                                .products__desc
                                    a.products__title(href='#') Обертка для фастфуд «Fiesta»
                                    ul.product__price
                                        li.old__price 3,40 руб
                                        li от 2,55 BYN/
                                            span 1000 шт
                                a.btn.btn_buy(href='#') Купить
                            .lg-4.md-6.products__item
                                .products__img
                                    img.img(src='./img/product-3.png' alt='')
                                    .product__tags
                                        span.sale Sale
                                        span.new New
                                .products__desc
                                    a.products__title(href='#') Обертка для фастфуд «Fiesta»
                                    ul.product__price
                                        li.old__price 3,40 руб
                                        li от 2,55 BYN/
                                            span 1000 шт
                                a.btn.btn_buy(href='#') Купить
                            .lg-4.md-6.products__item
                                .products__img
                                    img.img(src='./img/product-1.png' alt='')
                                    .product__tags
                                        span.new New
                                .products__desc
                                    a.products__title(href='#') Обертка для фастфуд «Fiesta»
                                    ul.product__price
                                        li.old__price 3,40 руб
                                        li от 2,55 BYN/
                                            span 1000 шт
                                a.btn.btn_buy(href='#') Купить
                            .lg-4.md-6.products__item
                                .products__img
                                    img.img(src='./img/product-3.png' alt='')
                                    .product__tags
                                        span.new New
                                .products__desc
                                    a.products__title(href='#') Обертка для фастфуд «Fiesta»
                                    ul.product__price
                                        li.old__price 3,40 руб
                                        li от 2,55 BYN/
                                            span 1000 шт
                                a.btn.btn_buy(href='#') Купить
                            .lg-4.md-6.products__item
                                .products__img
                                    img.img(src='./img/product-2.png' alt='')
                                    .product__tags
                                        span.sale Sale
                                .products__desc
                                    a.products__title(href='#') Обертка для фастфуд «Fiesta»
                                    ul.product__price
                                        li.old__price 3,40 руб
                                        li от 2,55 BYN/
                                            span 1000 шт
                                a.btn.btn_buy(href='#') Купить

        .section.text__section
            .container
                .h2 Описание раздела
                    span О Разделе
                .text
                    p Краткое описание: В данном блоке отображается информация о компании и преимуществах ее работы. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. Краткое описание: В данном блоке отображается информация о компании и преимуществах ее работы. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.
                    p Краткое описание: В данном блоке отображается информация о компании и преимуществах ее работы. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.

        include ../block/footer

        script(src='./js/libs.min.js')
        script(src='./js/main.min.js')
