#banner-section
    include ./social
    .container.flex_col
        .banner__content
            .banner__item_vertical
                div
                    span.capital HELLO
                    span.capital.yellow !
            .banner__item_horizontal
                span(data-aos='fade-left' data-aos-delay='500' data-aos-duration='800') My Name’s
                span.capital.yellow(data-aos='fade-left' data-aos-delay='700' data-aos-duration='800') Irina Petrushenko
                hr(data-aos='fade-left' data-aos-delay='900' data-aos-duration='800')
                span(data-aos='fade-left' data-aos-delay='1100' data-aos-duration='800') and I’m junior front-end developer
        a.banner__btn.capital(href='#work-section' data-aos='flip-up' data-aos-delay='1500' data-aos-duration='800') go down
