#banner-section
    .bg
    include ./social
    .container.banner
        .banner__content
            .banner__item_vertical
                div
                    span.capital HELLO
                    span.capital.yellow-text !
            .banner__item_horizontal
                div
                    span My Name’s
                    span.capital.yellow-text Irina Petrushenko
                    hr
                    span and I’m junior front-end developer
        a.banner__btn.capital(href='#work-section') go down