#contact-section
    .container
        .title-wrapper
            .title contacts
    .contact-wrapper
        .contact-img
        .contact
            include ./social
            .contact__block
                .contact-title.capital Irina Petrushenko
                .contact-subtitle.capital junior front-end developer
                hr
                ul.contact-list
                    li: a(href='') +375 (29) 381-62-57
                    li: a(href='') irina.aninger@gmail.com
                .cv.capital
                    a(href='../cv.pdf' target='_blank') download
                        span  cv
