#contact-section
    .container
        .title-wrapper
            .title contacts
    .flex
        .contact-img
        .contact.flex
            include ./social
            .contact__block
                .contact__title.capital Irina Petrushenko
                .contact__subtitle.capital junior front-end developer
                hr
                ul.contact__list
                    li: a(href='') +375 (29) 381-62-57
                    li: a(href='') irina.aninger@gmail.com
                .cv.capital
                    a(href='./cv.pdf' target='_blank') download
                        span  cv
