#contact-section
    .container
        .title-wrapper
            .title contacts
    .flex
        .contact-img
        .contact.flex
            include ./social
            .contact__block
                .contact__title.capital(data-aos='fade-left' data-aos-delay='500' data-aos-duration='600') Irina Petrushenko
                .contact__subtitle.capital(data-aos='fade-left' data-aos-delay='700' data-aos-duration='600') junior front-end developer
                hr(data-aos='fade-left' data-aos-delay='900' data-aos-duration='600')
                ul.contact__list(data-aos='fade-left' data-aos-delay='1100' data-aos-duration='600')
                    li: a(href='tel:+375293816257') +375 (29) 381-62-57
                    li: a(href='mailto:irina.aninger@gmail.com') irina.aninger@gmail.com
                .cv.capital(data-aos='fade-left' data-aos-delay='1300' data-aos-duration='600')
                    a(href='./cv.pdf' target='_blank') download
                        span  cv
