#experience-section
    .title-wrapper
        .container
            .title experience
    .container.experience-wrapper
        .experience
            .experience-title HTML/CSS/JQuery-coder
            .experience-descr
                .descr-title Seologic
                .descr-date April 2018 - August 2019
                ul.descr-list
                    li Layout of individual elements of websites
                    li SEO markup on websites
                    li Working with templates in Photoshop and Figma
                    li Independent design development of elements
                    li Work with an outsourcing company (in particular with Ingate)
        ul.cms
            li ModX
            li WordPress
            li Joomla
            li Drupal
            li Bitrix
            li Simpla