#experience-section
    .title-wrapper
        .container
            .title experience
    .container.experience-wrapper.flex
        .experience
            .experience__title HTML/CSS/JQuery-coder
            .experience__descr.descr
                .descr__title Seologic
                .descr__date April 2018 - August 2019
                ul
                    li Communicate with designers, backend team and project managers.
                    li Create responsive layouts for a variety of mobile platforms and devices.
                    li SEO markup on websites.
                    li Working with templates in Photoshop and Figma.
                    li Build reusable code for future use.
        ul.cms
            li ModX
            li WordPress
            li Joomla
            li Drupal
            li Bitrix
            li Simpla