footer
    .container
        .row
            .lg-3.md-6
                .box
                    p.title Телефоны
                    p
                        a(href='tel:80172910603') 8 (017) 291-06-03
                        a(href='tel:80172910605') 8 (017) 291-06-05
                .box
                    p.title Факс
                    p
                        a(href='tel:80172910603') 8 (017) 291-06-03
                        a(href='tel:80172910605') 8 (017) 291-06-05
                .box
                    p.title E-mail
                    p
                        a(href='mailto:amik@paket.by') amik@paket.by
            .lg-4.md-6.footer__catalog
                .box
                    p.title Каталог
                    p
                        a(href='./category.html') Стаканы
                        a(href='./category.html') Крышки
                        a(href='./category.html') Упаковка
                        a(href='./category.html') Контейнеры
                        a(href='./category.html') Креманки
                        a(href='./category.html') Посуда
                        a(href='./category.html') Дополнительный ассортимент
                        a(href='./category.html') Упаковочная бумага
                        a(href='./category.html') Акции
            .lg-5.md-12
                .box
                    p.title Время работы
                    p Время работы: Пн-пт: 8-00 - 17-00, Сб, Вс:  выходной
                .box
                    p.title Адрес
                    p 220024, г.Минск ул. Бабушкина 54, к.205
                    p
                        | ООО «Амик-О»<br>
                        | Юр. адрес: 220012, РБ, г. Минск, ул. Сурганова, д.27, оф.33<br>
                        | В торговом реестре РБ с 6 февраля 2017 года №366910<br>
                        | УНП: 192743895<br>
                        | Выдано Минским Городским исполнительным комитетом 06.12.2016 г.
            .lg-12.footer__navbar
                a(href='./catalog.html') Каталог
                a(href='./logotypes.html') Печать логотипов
                a(href='./about.html') О нас
                a(href='./delivery.html') Доставка
                a(href='./delivery.html') Оплата
                a(href='./contacts.html') Контакты