header.header
    .header-wrapper.container
        .logo
        nav
            a.nav-item.yellow(href='#work-section') work
            a.nav-item.yellow(href='#experience-section') experience
            a.nav-item.yellow(href='#skills-section') skills
            a.nav-item.yellow(href='#contact-section') contacts