header.header
    .header-wrapper.container
        .logo
        nav.header-nav
            a.header-nav__item(href='#work-section') work
            a.header-nav__item(href='#experience-section') experience
            a.header-nav__item(href='#skills-section') skills
            a.header-nav__item(href='#contact-section') contacts