.top__line
    .container
        ul.top__info
            li: a(href='tel:80172910603') 8 (017) 291-06-03
            li: a(href='tel:80172910605') 8 (017) 291-06-05
            li Адрес: г.Минск ул. Бабушкина 54, к.205
            li Время работы: Пн-пт: 8-00 - 17-00, Сб, Вс:  выходной
            li: a(href='mailto:Amik@paket') E-mail: Amik@paket

header
    .header__wrapper
        .container
            .row
                .md-4.burger
                    span
                .lg-3.md-4.logo
                    a(href='/')
                        img(src='./img/logo.png' alt='')
                .lg-6.mobile__hidden
                    .search
                        input(type='search' placeholder='Поиск товара')
                .lg-3.md-4.header__cart
                    a(href='./cart.html')
                        img(src='./img/shopping-cart.svg' alt='')
                        span.cart__count 0

    .mobile__navbar
        .container
            .row.mobile__top
                .md-4.close
                .md-4.logo
                    a(href='/')
                        img(src='./img/logo-mob.png' alt='')
                .md-4.mobile__cart
            .mobile__wrapper
            .row.mobile__adress
                .sm-6.mobile__box
                    a.phone(href='tel:80172910605') 8 (017) 291-06-05
                    a.phone(href='tel:80172910605') 8 (017) 291-06-05
                .sm-6.mobile__box
                    span.adress Адрес: г.Минск ул. Бабушкина 54, к.205

    .header__navbar
        .container
            ul.navbar__wrapper
                li.catalog__link
                    a(href='./catalog.html') Каталог
                    span
                    ul.catalog__menu
                        li
                            a(href='./category.html')
                                span
                                    img(src='./img/menu_ico/growth.svg' alt='')
                                | Экопродукция
                        li.catalog__sublink
                            a(href='./category.html')
                                span
                                    img(src='./img/menu_ico/ico-1.svg' alt='')
                                | Стаканы
                            ul.catalog__submenu
                                li: a(href='./subcategory.html') Однослойные
                                li: a(href='./subcategory.html') Двухслойные
                        li
                            a(href='./category.html')
                                span
                                    img(src='./img/menu_ico/ico-2.svg' alt='')
                                | Крышки
                        li
                            a(href='./category.html')
                                span
                                    img(src='./img/menu_ico/ico-3.svg' alt='')
                                | Пакеты
                        li
                            a(href='./category.html')
                                span
                                    img(src='./img/menu_ico/ico-4.svg' alt='')
                                | Контейнеры
                        li
                            a(href='./category.html')
                                span
                                    img(src='./img/menu_ico/ico-5.svg' alt='')
                                | Креманки
                        li
                            a(href='./category.html')
                                span
                                    img(src='./img/menu_ico/ico-6.svg' alt='')
                                | Посуда
                        li
                            a(href='./category.html')
                                span
                                    img(src='./img/menu_ico/ico-7.svg' alt='')
                                | Другие товары
                        li
                            a(href='./category.html')
                                span
                                    img(src='./img/menu_ico/ico-8.svg' alt='')
                                | Упаковка
                        li
                            a(href='./category.html')
                                span
                                    img(src='./img/menu_ico/ico-9.svg' alt='')
                                | Акции
                        li
                            a(href='#') Весь каталог
                li: a(href='./logotypes.html') Нанесение логотипов
                li: a(href='./about.html') О нас
                li: a(href='./delivery.html') Доставка
                li: a(href='./delivery.html') Оплата
                li: a(href='./contacts.html') Контакты
            a.btn.btn__white(href='#') Связаться