.container#skills-section
    .skills.flex
        .skills__item#tech(data-aos='fade-up' data-aos-delay='500' data-aos-duration='600')
            .skills__title Technical
            ul.skills__list
                li
                    p JavaScript
                    .progress-bar#js
                        .bar
                li
                    p React
                    .progress-bar#react
                        .bar
                li
                    p Vue.js
                    .progress-bar#vue
                        .bar
                li
                    p Gulp
                    .progress-bar#gulp
                        .bar
            ul.skills__list
                li
                    p Html
                    .progress-bar#html
                        .bar
                li
                    p Css / Sass / Less / Stylus
                    .progress-bar#css
                        .bar
                li
                    p Pug
                    .progress-bar#pug
                        .bar
                li
                    p Git
                    .progress-bar#git
                        .bar
        .skills__item#lang(data-aos='fade-up' data-aos-delay='800' data-aos-duration='600')
            .skills__title Languages
            ul.skills__list
                li
                    p English
                    .progress-bar#eng
                        .bar
                li
                    p German
                    .progress-bar#germ
                        .bar
                li
                    p Russian
                    .progress-bar#rus
                        .bar
                li
                    p Belorussian
                    .progress-bar#bel
                        .bar
    .title-wrapper
        .title skills
