ul.social
    li.social__item
        a(href='https://www.linkedin.com/in/irina-petrushenko/'): img(src='./img/in.svg' alt='in')
    li.social__item
        a(href='https://github.com/irina-aninger'): img(src='./img/github.svg' alt='github')
    li.social__item
        a(href='https://join.skype.com/invite/meT0coPZtPsY'): img(src='./img/skype.svg' alt='skype')
    li.social__item
        a(href='https://vk.com/id70846306'): img(src='./img/vk.svg' alt='vk')