ul.social
    li.social__item
        img(src='../img/in.svg')
    li.social__item
        img(src='../img/github.svg')
    li.social__item
        img(src='../img/skype.svg')
    li.social__item
        img(src='../img/vk.svg')