.container#work-section
    .title-wrapper
        .title work
    .works-wrapper
        .works#works-1
            .works__item(style='background-image: url("./img/works/26.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://irina-aninger.github.io/' target='_blank') Payment Form
                    .info: span
                    .info-block
                        span.close
                        p This form is implemented on Vue.js.
                        ul.tags
                            li Vue.js
                            li Pug
                            li Stylus
                            li Webpack
            .works__item(style='background-image: url("./img/works/25.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://github.com/irina-aninger/food2fork' target='_blank') FoodFork
                    .info: span
                    .info-block
                        span.close
                        p The project is implemented on React.
                        ul.tags
                            li React
                            li JSX
                            li Sass
                            li Gulp
            .works__item(style='background-image: url("./img/works/27.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://remontdom.by/tseny/' target='_blank') Remontdom
                    .info: span
                    .info-block
                        span.close
                        p Search on
                            a(href='https://remontdom.by/tseny/' target='_blank')  the page with prices.
                        ul.tags
                            li JS
                            li JQuery
                            li Css
                            li Html
            .works__item(style='background-image: url("./img/works/23.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://irina-aninger.github.io/amiko-full/' target='_blank') Amiko
                    .info: span
                    .info-block
                        span.close
                        p Full layout of the online store.
                        ul.tags
                            li JS
                            li JQuery
                            li Pug
                            li Sass
                            li Gulp
            .works__item(style='background-image: url("./img/works/2.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://irina-aninger.github.io/movies/' target='_blank') Kinopoisk
                    .info: span
                    .info-block
                        span.close
                        p The project is created on TMDb API.
                        ul.tags
                            li JS
                            li Bootstrap
                            li Css
                            li Html
        .works#works-2
            .works__item(style='background-image: url("./img/works/22.jpg")')
                .hidden
                    a.flex_center.yellow(href='http://openspot.by/' target='_blank') Openspot
                    .info: span
                    .info-block
                        span.close
                        p Realization of the full front-end part. Backend integration.
                        ul.tags
                            li JS
                            li JQuery
                            li Pug
                            li Sass
                            li Gulp
            .works__item(style='background-image: url("./img/works/24.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://irina-aninger.github.io/drumasters/' target='_blank') Drumasters
                    .info: span
                    .info-block
                        span.close
                        p This project is created using bootstrap.
                        ul.tags
                            li JS
                            li Pug
                            li Sass
                            li Gulp
            .works__item(style='background-image: url("./img/works/1.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://irina-aninger.github.io/together/' target='_blank') Coworking
                    .info: span
                    .info-block
                        span.close
                        p This is the first project created.
                        ul.tags
                            li Html
                            li Css
                            li JQuery
            .works__item(style='background-image: url("./img/works/3.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://garantiruem.by/' target='_blank') Garantiruem
                    .info: span
                    .info-block
                        span.close
                        p Dropdown menu.
                        p
                            a(href='https://garantiruem.by/#lease' target='_blank') List
                            | on the main page.
                        p News and
                            a(href='https://garantiruem.by/articles/' target='_blank') articles
                        ul.tags
                            li JS
                            li Html
                            li Less
                            li Bitrix
            .works__item(style='background-image: url("./img/works/4.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://www.gradient.by/' target='_blank') Gradient
        .works#works-3
            .works__item(style='background-image: url("./img/works/8.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://ecosoft.by/' target='_blank') Ecosoft
            .works__item(style='background-image: url("./img/works/19.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://inoxtrade.by/' target='_blank') Inoxtrade
            .works__item(style='background-image: url("./img/works/17.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://www.anbosta.by/' target='_blank') Anbosta
            .works__item(style='background-image: url("./img/works/11.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://florita.by/' target='_blank') Florita
            .works__item(style='background-image: url("./img/works/14.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://transfer-minsk.com/' target='_blank') Transfer Minsk
        ul.works__nav.flex_center
            li(data-work='works-1'): span
            li(data-work='works-2'): span
            li(data-work='works-3'): span
