.container#work-section
    .title-wrapper
        .title work
    .works-wrapper
        .works#works-1
            .works__item
                img(src='./img/works/25.jpg' alt='FoodFork')
                .hidden
                    a(href='https://github.com/irina-aninger/food2fork' target='_blank') FoodFork
            .works__item
                img(src='./img/works/24.jpg' alt='Drumasters')
                .hidden
                    a(href='https://irina-aninger.github.io/drumasters/' target='_blank') Drumasters
            .works__item
                img(src='./img/works/23.jpg' alt='Amiko')
                .hidden
                    a(href='https://irina-aninger.github.io/amiko-full/' target='_blank') Amiko
            .works__item
                img(src='./img/works/22.jpg' alt='Openspot')
                .hidden
                    a(href='http://openspot.by/' target='_blank') Openspot
            .works__item
                img(src='./img/works/2.jpg' alt='Kinopoisk')
                .hidden
                    a(href='https://irina-aninger.github.io/movies/' target='_blank') Kinopoisk
        .works#works-2
            .works__item
                img(src='./img/works/1.jpg' alt='Coworking')
                .hidden
                    a(href='https://irina-aninger.github.io/together/' target='_blank') Coworking
            .works__item
                img(src='./img/works/3.jpg' alt='Garantiruem')
                .hidden
                    a(href='https://www.gradient.by/' target='_blank') Garantiruem
            .works__item
                img(src='./img/works/4.jpg' alt='Gradient')
                .hidden
                    a(href='https://garantiruem.by/' target='_blank') Gradient
            .works__item
                img(src='./img/works/8.jpg' alt='Ecosoft')
                .hidden
                    a(href='https://ecosoft.by/' target='_blank') Ecosoft
            .works__item
                img(src='./img/works/19.jpg' alt='Inoxtrade')
                .hidden
                    a(href='https://inoxtrade.by/' target='_blank') Inoxtrade
        .works#works-3
            .works__item
                img(src='./img/works/17.jpg' alt='Anbosta')
                .hidden
                    a(href='https://www.anbosta.by/' target='_blank') Anbosta
            .works__item
                img(src='./img/works/11.jpg' alt='Florita')
                .hidden
                    a(href='https://florita.by/' target='_blank') Florita
            .works__item
                img(src='./img/works/14.jpg' alt='Transfer Minsk')
                .hidden
                    a(href='https://transfer-minsk.com/' target='_blank') Transfer Minsk
            .works__item
                img(src='./img/works/13.jpg' alt='Wealth')
                .hidden
                    a(href='https://wealth.by/' target='_blank') Wealth
            .works__item
                img(src='./img/works/21.jpg' alt='Homsair')
                .hidden
                    a(href='https://garantiruem.by/' target='_blank') Homsair
        ul.works__nav
            li(data-work='works-1'): span
            li(data-work='works-2'): span
            li(data-work='works-3'): span
