.container#work-section
    .title-wrapper
        .title work
    .works-wrapper
        .works#works-1
            .works__item(style='background-image: url("./img/works/25.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://github.com/irina-aninger/food2fork' target='_blank') FoodFork
            .works__item(style='background-image: url("./img/works/24.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://irina-aninger.github.io/drumasters/' target='_blank') Drumasters
            .works__item(style='background-image: url("./img/works/23.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://irina-aninger.github.io/amiko-full/' target='_blank') Amiko
            .works__item(style='background-image: url("./img/works/22.jpg")')
                .hidden
                    a.flex_center.yellow(href='http://openspot.by/' target='_blank') Openspot
            .works__item(style='background-image: url("./img/works/2.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://irina-aninger.github.io/movies/' target='_blank') Kinopoisk
        .works#works-2
            .works__item(style='background-image: url("./img/works/1.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://irina-aninger.github.io/together/' target='_blank') Coworking
            .works__item(style='background-image: url("./img/works/3.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://www.gradient.by/' target='_blank') Garantiruem
            .works__item(style='background-image: url("./img/works/4.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://garantiruem.by/' target='_blank') Gradient
            .works__item(style='background-image: url("./img/works/8.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://ecosoft.by/' target='_blank') Ecosoft
            .works__item(style='background-image: url("./img/works/19.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://inoxtrade.by/' target='_blank') Inoxtrade
        .works#works-3
            .works__item(style='background-image: url("./img/works/17.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://www.anbosta.by/' target='_blank') Anbosta
            .works__item(style='background-image: url("./img/works/11.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://florita.by/' target='_blank') Florita
            .works__item(style='background-image: url("./img/works/14.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://transfer-minsk.com/' target='_blank') Transfer Minsk
            .works__item(style='background-image: url("./img/works/13.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://wealth.by/' target='_blank') Wealth
            .works__item(style='background-image: url("./img/works/21.jpg")')
                .hidden
                    a.flex_center.yellow(href='https://garantiruem.by/' target='_blank') Homsair
        ul.works__nav.flex_center
            li(data-work='works-1'): span
            li(data-work='works-2'): span
            li(data-work='works-3'): span
