@import 'fonts.sass'
@import 'normalize.sass'

$color-white: #FFFFFF
$color-dark: #232426
$color-yellow: #FAC12E
$font-bold: bold
$full-width: 100%

@mixin flex
  display: flex
  flex-wrap: wrap
  align-items: center

@mixin center
  margin-left: auto
  margin-right: auto

@mixin x-large
  @media (min-width: 1200px)
    @content

@mixin large
  @media (max-width: 1199px)
    @content

@mixin medium
  @media (max-width: 991px)
    @content

@mixin small
  @media (max-width: 767px)
    @content

@mixin xs-small
  @media (max-width: 575px)
    @content

body
  font: normal 16px/1em 'Opensans', sans-serif
  line-height: initial
  color: $color-white
  background-color: $color-dark

*::before,
*::after
  box-sizing: inherit

ul,
li
  padding: 0
  margin: 0
  list-style: none

p
  margin: 0

hr
  border: none

.capital
  text-transform: uppercase

.yellow-text
  color: $color-yellow

.container
  width: $full-width
  max-width: 1200px
  height: 100%
  padding-left: 20px
  padding-right: 20px
  @include center

.header
  position: fixed
  width: $full-width
  background: rgba(0, 0, 0, 0.5)
  z-index: 10

.header-wrapper
  display: flex
  justify-content: space-between
  width: $full-width
  padding: 14px 0
  @include center

.header-nav__item
  font-weight: $font-bold
  color: $color-yellow
  margin-right: 35px
  &:last-child
    margin-right: 0
  &:hover
    color: $color-white
  &.active
    color: $color-white

#banner-section
  height: 100vh
  background-image: url("../img/main-banner.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  overflow: hidden
  .social
    position: absolute
    top: 30%

.banner
  @include flex
  flex-direction: column
  justify-content: center

.banner__content
  display: flex
  font-weight: $font-bold
  width: 860px
  @include center
  @include medium
    width: 650px

.banner__item_vertical
  position: relative
  font-size: 94px
  width: 128px
  @include medium
    font-size: 70px
    width: 90px
  div
    transform: rotate(-90deg)
    position: relative
    right: 0
    top: 215px
    @include medium
      top: 163px

.banner__item_horizontal
  font-size: 48px
  @include medium
    font-size: 42px
  hr
    width: 563px
    height: 5px
    background: #69adb3
    margin: 0 0 0 5px
    @include medium
      width: 420px
  span
    display: inline-block
    &.yellow-text
      font-size: 70px
      @include medium
        font-size: 52px
    &:last-child
      font-size: 30px
      padding: 53px 0
      @include medium
        padding: 38px 0

.banner__btn
  color: $color-white
  font-weight: $font-bold
  width: 173px
  text-align: center
  padding: 18px 0
  margin: 150px auto 0
  background: $color-yellow
  border-radius: 50px
  box-shadow: 6px 6px 0 #FFFFFF
  @include medium
    margin: 110px auto 0

.title-wrapper
  position: relative
  overflow: hidden
  .title
    font-size: 86px
    font-weight: $font-bold
    color: $color-dark
    position: relative

#work-section
  display: flex
  padding-top: 150px
  padding-bottom: 150px
  .title-wrapper
    width: 85px
    margin-right: 40px
    background: #69ADB3
    .title
      top: 155px
      right: -100%
      transform: rotate(-90deg)
      transition: .6s
    &.visible
      .title
        right: -10px


.works-wrapper
  width: calc(100% - 165px)
  margin-left: 20px
  margin-right: 20px

.works
  display: none
  &.active
    @include flex
  margin: -20px

.works__item
  position: relative
  height: 250px
  margin: 20px
  box-shadow: 7px 7px 0 #CABD48
  overflow: hidden
  &:nth-child(1)
    width: calc(65% - 40px)
    box-shadow: 7px 7px 0 #69ADB3
  &:nth-child(2)
    width: calc(35% - 40px)
    margin-right: 0
  &:nth-child(3)
    width: calc(24% - 40px)
  &:nth-child(4)
    width: calc(24% - 40px)
  &:nth-child(5)
    width: calc(52% - 40px)
    margin-right: 0
    box-shadow: 7px 7px 0 #69ADB3
  img
    width: $full-width
  .hidden
    display: none
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(50, 53, 57, 0.8)
    a
      @include flex
      justify-content: center
      font-size: 28px
      font-weight: $font-bold
      color: $color-yellow
      height: 100%
      width: 100%
  &:hover
    .hidden
      display: block

.works__nav
  @include flex
  justify-content: center
  width: $full-width
  margin-top: 50px
  span
    display: block
    width: 13px
    height: 13px
    margin: 0 14px
    border-radius: 50%
    background: #FFFFFF
  li
    padding: 10px 0
    cursor: pointer
    &:hover
      span
        box-shadow: inset -2px -2px 0px $color-yellow
    &.active
      cursor: default
      span
        width: 20px
        height: 20px
        background: $color-yellow
        box-shadow: none

#experience-section
  background-image: url("../img/bg-1.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  .title-wrapper
    height: 85px
    background: #CABD48
    .title
      top: 100%
      right: 0
      text-align: right
      transition: .6s
    &.visible
      .title
        top: -7px

.experience-wrapper
  @include flex
  padding-top: 130px
  padding-bottom: 130px
  @include medium
    flex-wrap: wrap

.experience
  width: 65% - 2%
  margin-right: 2%
  @include medium
    width: $full-width
    margin-right: 0px

.experience-title
  display: inline-block
  font-size: 26px
  font-weight: $font-bold
  color: $color-dark
  padding: 15px 50px
  background: rgba(250, 193, 46, 0.8)
  position: relative
  &::after
    content: ''
    position: absolute
    bottom: 0
    right: -20px
    width: 10px
    height: 100%
    background: rgba(250, 193, 46, 0.8)

.experience-descr
  color: #000000
  padding: 23px 30px
  margin-top: 40px
  margin-left: 20px
  background: rgba(228, 232, 240, 0.8)
  position: relative
  &::before
    content: ''
    position: absolute
    top: 0
    left: -20px
    width: 10px
    height: 100%
    background: rgba(228, 232, 240, 0.8)
  .descr-title
    font-size: 22px
    font-weight: $font-bold
    color: #5A8C90
  .descr-date
    font-size: 12px
    color: #777777
    margin-bottom: 36px

.cms
  width: 35% - 2%
  margin-left: 2%
  margin-top: 130px
  column-count: 2
  @include medium
    width: $full-width
    margin-left: 0px
    margin-top: 70px
    column-count: 3
  li
    text-align: center
    padding: 10px 0
    margin-bottom: 20px
    background: rgba(0, 0, 0, 0.5)

#skills-section
  display: flex
  .title-wrapper
    width: 85px
    margin-left: 60px
    background: $color-yellow
    .title
      position: relative
      left: -100%
      top: 33%
      transform: rotate(90deg)
      transition: .6s
    &.visible
      .title
        left: -12px

.skills-wrapper
  @include flex
  width: calc(100% - 145px)
  margin: 200px 0

.skill-block
  height: 330px
  padding: 30px 14px
  margin-right: 35px / 1200px * 100%
  background: #323539
  border-radius: 10px
  &:first-child
    width: 70% - (35px / 1200px * 100%)
  &:last-child
    width: 30%
  &:last-child
    margin-right: 0
  &#lang
    .progress-bar
      .bar
        background: #69ADB3
  &#tech
    .skill-list
      width: 47%
      &:nth-child(2)
        float: left
        margin-right: 3%
      &:last-child
        float: right
        margin-left: 3%

.skill-title
  font-size: 20px
  font-weight: 600
  text-transform: uppercase
  text-align: center
  width: 100%
  margin-bottom: 45px

.skill-list
  p
    font-size: 13px
    padding-left: 10px
    margin-bottom: 3px
  li
    margin-bottom: 20px
    &:last-child
      margin-bottom: 0

.progress-bar
  position: relative
  height: 3px
  background: $color-dark
  border-radius: 100px
  .bar
    position: absolute
    top: -1px
    width: 0
    height: 5px
    background: #CABD48
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1)
    border-radius: 100px
    transition: 1s
    &::before
      content: ''
      position: absolute
      top: -4px
      left: 96%
      width: 12px
      height: 12px
      background: #FFFFFF
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1)
      border-radius: 50%
  &.visible
    &#js
      .bar
        width: 50%
    &#react
      .bar
        width: 20%
    &#html
      .bar
        width: 90%
    &#css
      .bar
        width: 80%
    &#bootstrap
      .bar
        width: 70%
    &#gulp
      .bar
        width: 75%
    &#pug
      .bar
        width: 60%
    &#git
      .bar
        width: 50%
    &#eng
      .bar
        width: 30%
    &#germ
      .bar
        width: 70%
    &#rus
      .bar
        width: 100%
    &#bel
      .bar
        width: 90%

#contact-section
  .title-wrapper
    width: 60%
    height: 85px
    background: #69ADB3
    @include medium
      width: $full-width
    .title
      text-align: center
      top: 100%
      transition: .6s
    &.visible
      .title
        top: -7px

.contact-wrapper
  @include flex

.contact-img
  width: 40%
  height: 640px
  background-image: url("../img/contact-img.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-attachment: fixed
  @include medium
    width: 40%

.contact
  @include flex
  overflow: hidden
  .social
    margin-top: 12px
    margin-right: 37px
    transition-delay: .5s
  .contact-title
    font-size: 36px
    font-weight: $font-bold
  .contact-subtitle
    font-size: 18px
    color: #69ADB3
  hr
    width: 207px
    height: 3px
    margin: 14px 0 0 0
    background: $color-yellow
  .contact-list
    margin-top: 30px
    margin-bottom: 32px
    a
      color: $color-white
      &:hover
        color: $color-yellow

.social
  transform: translateX(-100%)
  transition: transform .6s
  transition-delay: 2s
  &.visible
    transform: translateX(0)
  .social__item
    height: 40px
    margin-bottom: 15px
    cursor: pointer
    &:last-child
      margin-bottom: 0
    &:hover
      background: #000000

.cv
  font-size: 20px
  font-weight: $font-bold
  a
    color: $color-yellow
    span
      color: $color-white
    &:hover
      color: $color-white
      span
        color: $color-yellow